.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 375px;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1110px;
  }

}