.app-clock-section {
  padding-top: 32px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 64px;
  }
  @include desktop {
    padding-top: 56px;
    padding-bottom: 98px;
  }
}

.app-clock-section-quote-container {
  display: flex;
}

.app-clock-section-quote-container-text {
  margin-right: 17px;
  max-width: 290px;
  margin-bottom: 227px;
  @include tablet {
    margin-right: 16px;
    max-width: 540px;
    margin-bottom: 388px;
  }
  @include desktop {
    margin-bottom: 233px;
  }
}

.app-clock-section-quote-button {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 500ms;
  transition-property: transform;
  &:hover {
    transform: rotate(3.142rad);
  }
}

.app-clock-section-quote {
  color: $white;
}

.app-clock-section-quote-author {
  margin-top: 8px;
  color: $white;
  font-weight: 700;
  @include tablet {
    margin-top: 13px;
  }
}

.app-clock-section-clock-time-of-day-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}

.app-clock-section-clock-time-of-day {
  color: $white;
  margin-left: 16px;
}

.app-clock-section-clock-time-of-day-currently {
  color: $white;
  display: none;
  @include tablet {
    display: block;
  }
}

.app-clock-section-time-container {
  display: flex;
  margin-bottom: 16px;
  @include tablet{
    margin-bottom: 0;
  }
  @include desktop{
    margin-bottom: 16px;
  }
}

.app-clock-section-time-symbol {
  color: white;
}

.app-clock-section-time {
  color: $white;
}

.app-clock-section-time-zone {
  color: $white;
  display: flex;
  align-items: end;
  padding-bottom: 5px;
  margin-left: 5px;
  @include tablet {
    padding-bottom: 25px;
    margin-left: 11px;
  }
}

.app-clock-section-btn-container{
@include desktop{
  display: flex;
align-items: center;
}
}

.app-clock-section-country{
  color: $white;
  margin-bottom: 48px;
  @include tablet{
    margin-bottom: 80px;
  }
  @include desktop{
    margin-bottom: 0;
    margin-right: auto;
  }
}


.app-clock-section-more-btn{
  width: 115px;
height: 39px;
border-radius: 28px;
background-color: $white;
color: #000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 14px; /* 116.667% */
letter-spacing: 3.75px;
text-transform: uppercase;
}