.app-clock-section {
 margin-top: 32px;
  margin-bottom: 40px;
  @include tablet {
    margin-top: 80px;
    margin-bottom: 64px;
  }
  @include desktop {
    margin-top: 56px;
    margin-bottom: 98px;
  }
}

.app-clock-section-quote-container {
  display: flex;
}

.app-clock-section-quote-container-text {
  margin-right: 17px;
  max-width: 290px;
  margin-bottom: 227px;
  @include tablet {
    margin-right: 16px;
    max-width: 540px;
    margin-bottom: 388px;
  }
  @include desktop {
    margin-bottom: 233px;
  }
}

.app-clock-section-quote-button {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 500ms;
  transition-property: transform;
  &:hover {
    transform: rotate(3.142rad);
  }
}

.app-clock-section-quote {
  color: $white;
}

.app-clock-section-quote-author {
  margin-top: 8px;
  color: $white;
  font-weight: 700;
  @include tablet {
    margin-top: 13px;
  }
}

.app-clock-section-clock-time-of-day-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop{
    margin-bottom: 16px;
  }
}

.app-clock-section-clock-time-of-day {
  color: $white;
  margin-left: 16px;
 
}

.app-clock-section-clock-time-of-day-currently {
  color: $white;
  display: none;
  @include tablet {
    display: block;
  }
}

.app-clock-section-time-container{
  display: flex;
}

.app-clock-section-time-symbol{
  color:white;

}

.app-clock-section-time{
  color: $white;
}

.app-clock-section-time-zone{
  color: $white;
  display: flex;
align-items: end;
padding-bottom: 5px;
margin-left: 5px;
@include tablet {
  padding-bottom: 25px;
  margin-left: 11px;
}

}